body {
  font-family: lucida Sans, arial, sans-serif;
  text-align: center;
}
.container {
 
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
}
.content {
  /* margin: 5px; */
  padding: 10px;
}
img {
    width: 90%;
  border-radius: 5px;
  display: block;
  margin: auto;
}
p {
  text-align: left;
  width: 80%;
  color: #666666;
}
.p_title {
  color: #5cf0f0;
  font-size: 1em;
  font-weight: bolder;
  text-align: left;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: 50% 50%;
   
  }

  img {
    width: 90%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }

  img {
    width: 90%;
  }
}
